<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- changes from the defaults -->
       <setting name="lazyLoadingEnabled" value="false" />
       <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
    
    	<typeAlias type="com.ifeng.vdn.ip.repository.bean.ali.AliIPWrapper" alias="aliIPWrapper"/>
    	
    	<typeAlias type="com.ifeng.vdn.ip.repository.bean.IPLocModel" alias="ipLocModel"/>
    	<typeAlias type="com.ifeng.vdn.ip.repository.bean.ErrLocModel" alias="errLocModel"/>
    	
    	
    	<typeAlias type="com.ifeng.vdn.ip.repository.bean.IPModel" alias="ipModel"/>
        
        
    </typeAliases>
</configuration>